<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911338386598-91lkppaciqo1lcimrbocdogpgsbcuf12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911338386598-91lkppaciqo1lcimrbocdogpgsbcuf12</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>911338386598-9a84j23c8k25kmkvd499fklafasrj3s6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqzjrN-8IlvIfgTddbWvcXi9OrCGEIEng</string>
	<key>GCM_SENDER_ID</key>
	<string>911338386598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intership.app</string>
	<key>PROJECT_ID</key>
	<string>internship-4e327</string>
	<key>STORAGE_BUCKET</key>
	<string>internship-4e327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911338386598:ios:b498fd34dc4637a2a93067</string>
</dict>
</plist>